beautifulsoup4
bs4
datasets
faiss-cpu
langchain
langchain_core
langchain_chroma
langchain_community
langchain_openai
langchain_text_splitters
llama_index
numpy
openai
pypdf
pytextrank
requests
spacy
torch
transformers
vecml
wget
pdfminer.six
